.upcoming-box{
    margin-left: 7.5%;
}

.upcoming-title {
    color: white;
    font-size: 14px;
    margin-top: 32px;
}

.remaining {
    color: gray;
    margin-left: 4px;
}

.orders {
    max-width:100vw;
    overflow-y:auto;
}

.scroll-container {
    width:fit-content;
    display: flex;
    column-gap: 25px;
    justify-content: flex-start;
    margin-bottom:1rem;
}