.header {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    margin-top: 80px;
}

.header img {
    cursor: pointer;
}

.title {
    color: white;
    font-size: 16px;
}