
/* COLORS */
/* Yellow is #FFBE00 */
/* Background darkblue is #040B11 */
/* White for texts */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    /* font-family: "Avenir Heavy", "sans-serif"; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #040B11;
    padding-bottom: 20px;
}